.defaultheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 0.5px solid rgb(171, 171, 171); */
    gap: 390px;
    position: relative;
    padding: 25px;
    padding-top: 0px;
    text-decoration: none;
}

.defaultheader span {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
}

.defaultheader h2 {
    color: #3a5a40;
    margin-left: 0px;
    font-size: large;
}

.defaultheader div h2 a {
    text-decoration: none;
    color: #3a5a40;
    width: fit-content;
}

i {
    color: #3a5a40;
    text-decoration: none;
}

.username h2 {
    color: black;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.defaultheader username h2 span {
    color: #3a5a40;
    text-decoration: none;
}

.username i {
    margin: auto;
    text-decoration: none;
}